
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    /*background-image: url("../img/home/mou5.jpg");*/
    position: relative;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #000;
}
@keyframes slidy {

    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}

#about {
    margin: 0;
    background-position: left bottom;
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
   position: relative;
    background-image: url("../img/home/bk8.png"), url("../img/home/bk4.jpg");
}
.contact {
    margin: 0;
    background-position: right bottom;
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    position: relative;
    background-image: url("../img/home/bk11.png"), url("../img/home/bk1.jpg");
}

#login, #logout {
    margin: 0;
    position: relative;
    background-image: url("../img/home/bk6.jpg");
}

#getQuestion {
    margin: 0;
    background-position: right bottom;
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    position: relative;
    background-image: url("../img/home/bk8.png"), url("../img/home/bk3.jpg");
}

#dash, #questionsList, #addQuestion {
    margin: 0;
    position: relative;
    background-image: url("../img/home/bk2.png");
}

.pbox {
    position: relative;
    font-family: "Comic Sans MS", cursive, sans-serif;
    left: 5px;
    top: -50px;
    width: 730px;
    background-color: #b0e0e6;
    padding: 10px;
}

#pbox2 {
    font-size: 75px;
    font-family: Impact, Charcoal, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    top: 30px;
    color: #cccccc;
    padding: 0;
}

#pbox3 {
    position: relative;
    font-family: Impact, Charcoal, sans-serif;
    top: -70px;
    color: rgba(255,255,255,.2);
    font-size: 40px;
    font-weight: bold;"
}

#signbutton {
    font-size: 18px;
    color: #FFF;
    padding: 12px 22px;
    background: #5E4485;
    border: 2px solid #FFF;
}

#signbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#signbutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#signbutton:hover span {
    padding-right: 25px;
}

#signbutton:hover span:after {
    opacity: 1;
    right: 0;
}



.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}



.imageBox {
    position: absolute;
    top: 15%;
    left: 65%;
    border-radius: 5px;
    overflow: hidden;
    width: 400px;
    height: 500px;
    border: 2px solid rgba(255,255,255,.2);
    box-shadow: 0px 0px 8px rgba(255,255,255,.2);
}
.imageBox img {
    transition: all 2s ease;
    width: 100%;
    height: 100%;
}
.imageBox img:hover  {
    transform: scale(1.5)rotate(15deg);
}
#icon {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    outline: none;
    border: 2px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Safari 3-8 */
    transform: rotate(10deg);
}
#info {
    margin: 4% auto;
    color: #000;
}
 .logo {
     position: absolute;
     border-radius: 7px;
     width: 85px;
     height: 50px;
     top: 0;
     left: 10px;
     border: black;
 }
 #exit {
     position: relative;
     margin-top: 100px;
     margin-left: 10px;
 }
.timer {
    position: relative;
    margin-top: 70px;
}
.myBtn{
    position: relative;
    margin-right: 100px;
}
.md-toolbar-tools > .md-button:last-child {
    margin-right: 0px;
    margin-top: 58px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
}
.loginBackground{
  background-image: url("../img/home/fh7.jpg");
}

.signUpCard{
    top: 80px;
    width: 770px;
}
.img-responsive{
    max-width: 93%;
    height: auto;
    margin-top: 37px;
    
    margin-left: 77px;
}

.question-btn-float-left{
    float: right;
}
.quiz-last{
 margin-top: 300px;   
}

.listview {
    margin-top: 100px;
}


footer {
    text-align: center;
    height: 70px;
    width: 100%;
    right: 0;
    left: 0;
    background-color: #5E4485;
    bottom: 0;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: "Arial Black", Gadget, sans-serif;
    line-height: 40px;
    text-align:center;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 40px;
    text-align:center;
}

ul.list-inline {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.list-inline li {
    display: inline;
    margin: 0 2px;
}

.list-inline a.icoFacebook:hover {
    background-color:#3B5998;
}
.list-inline a.icoTwitter:hover {
    background-color:#33ccff;
}
.list-inline a.icoGithub:hover {
    background-color: #6cc644;;
}
.list-inline a.icoXing:hover {
    background-color: #0a5d5e;;
}
.list-inline a.icoLinkedin:hover {
    background-color:#007bb7;
}

ul.social-buttons li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-buttons li i {
    margin:0;
    line-height:50px;
    text-align: center;
}
.social-buttons li a:hover i, .triggeredHover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-buttons i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}


/*ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #1ee2e7;
}*/

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}
#icon {
    max-width: 200px;
    margin: 1% auto;
}


@media (max-width: 600px) {
.carousel-caption {
    display: none;
}
    #icon {
        max-width: 150px;
    }
}




