    <div class="container">
     <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h1 class="featurette-heading">About Me</h1>
                <br>
                <br>
                <p style="font-family: 'Raleway', sans-serif;">Myself Naresh Aithagoni.
                    I'm a Master student at <b> <a href="http://www.fh-kiel.de/" target="_blank">Fachhochschule Kiel </a></b>.
                    <br>
                     <br>
                     <b>Technologies Which I have used: </b>
                     <md-list>
                         <md-list-item>
                             Node.js
                         </md-list-item>
                         <md-list-item>
                            Express.js
                         </md-list-item>
                         <md-list-item>

                             MongoDB
                         </md-list-item>
                           <md-list-item>
                             Angular js
                         </md-list-item>
                         <md-list-item>
                             Angular Material Design
                         </md-list-item>
                         <md-list-item>
                             Bootstrap
                         </md-list-item>
                         <md-list-item>
                             HTML5
                         </md-list-item>
                         <md-list-item>
                             CSS3
                         </md-list-item>
                         </md-list>
                </p>
            </div>
            <div class="col-md-5">
                <img id="imageBox" src="../img/home/Naresh.jpg" class="featurette-image img-responsive" data-src="holder.js/240x360/auto" alt="Generic placeholder image">
            </div>
        </div>
        
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>