    <div class="container">
     <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h3 class="featurette-heading">About Me</h3>
                <p style="font-family: 'Raleway', sans-serif;">Myself Naresh Aithagoni
                    Master student at <i> <a href="http://www.fh-kiel.de/" target="_blank">Fachhochschule Kiel </a></i>.
                     
                     <b>Technology Which I have used are: </b>
                     <md-list>
                         <md-list-item>
                             Node.js
                         </md-list-item>
                         <md-list-item>
                            Express.js
                         </md-list-item>
                         <md-list-item>

                             MongoDB
                         </md-list-item>
                           <md-list-item>
                             Angular js
                         </md-list-item>
                         <md-list-item>
                             Angular Material Design
                         </md-list-item>
                         <md-list-item>
                             Bootstrap
                         </md-list-item>
                         <md-list-item>
                             HTML5
                         </md-list-item>
                         <md-list-item>
                             CSS3
                         </md-list-item>
                         </md-list>
                         Currently, I'm pursuing Masters in Information Technology at the <b> <a href="http://www.fh-kiel.de/" target="_blank"> Fachhochschule Kiel</a></b>.
                </p>
            </div>
            <div class="col-md-5">
                <img src="../img/home/Naresh.jpg" class="featurette-image img-responsive" data-src="holder.js/240x360/auto" alt="Generic placeholder image">
            </div>
        </div>
        
    </div>
