
<div id="about">
<div class="container">
     <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <p id="pbox2" class="featurette-heading">Naresh Aithagoni</p>
                <hr style="position: relative; float: left;top: -52px; width: 585px">
                <h4 id="pbox3"> Web Developer & Designer</h4>
                <br>
                <br>
                <div class="pbox">
                <p style="font-family: 'Raleway', sans-serif;">I’m a web developer and graphic designer living in Kiel, Germany.
                    I spend my days with my hands in many different areas of web development from back end programming
                    (Node.js, MongoDB/MySQL, AngualrJS) to front end engineering (HTML5, CSS3, and jQuery/Javascript),
                    user experience and visual design.</p>

                    <p style="font-family: 'Raleway', sans-serif;">I’m extremely passionate about web development and design in all it’s forms and helping small
                        businesses and artisans build and improve their online presence. Aside from web development, I enjoy spending my time with
                        brewing beer, and playing & watching sports (hockey, and Cricket).

                     I'm a Master graduate at <b> <a href="http://www.fh-kiel.de/" target="_blank">Fachhochschule Kiel </a></b>.
                    </p>
                </div>
            </div>
            <div class="imageBox">
                <img src="../img/home/Naresh.jpg">
            </div>
        </div>
        
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>
