


 <div class="contact" layout="column" layout-align="center center" style="position: relative; margin-top: 42px;">


       <md-card class="signUpCard">

        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Contact</span>
          </md-card-title-text>
        </md-card-title>

        <md-card-content>
           
<form ng-submit="send()" novalidate>
        <md-content layout="column" layout-padding>

      <md-input-container>
        <label>Your Name</label>
        <input type="text" id="name" ng-model="sendto.senderName" required/>
       
      </md-input-container>
            <md-input-container>
        <label>Email Address</label>
        <input type="email" id="user_email" ng-model="sendto.from" required/>
      </md-input-container>
            <md-input-container>
        <label>Your Message</label>
               <textarea id="textarea1" ng-model="sendto.htmlCode" ng-minlength="6"></textarea>
      </md-input-container>

  </md-content>
  <div layout="row" layout-align="center center">
        <md-button type="submit" id="send_email" class="md-raised md-primary" ng-disabled="!sendto.senderName || !sendto.from  || !sendto.htmlCode"> Send
        </md-button>
  </div>


        </form>

        </md-card-content>
        
      </md-card>
     <br>
     <br>
     <br>
     <br>

 </div>

